.porofile-title-icon-container {
  width: 100%;
  height: 311px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.porofile-title-icon-container1 {
  width: 365px;
  height: 296px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.porofile-title-icon-text {
  font-size: 40px;
  text-align: center;
}
.porofile-title-icon-image {
  width: 248px;
  height: 246px;
  object-fit: cover;
}


.search-user-container {
  width: 600px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-user-container1 {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-grays-dark100);
  border-style: dotted;
  border-width: 1px;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.search-user-dropdown {
  width: 75px;
  cursor: pointer;
  height: 52px;
  display: inline-block;
  position: relative;
  align-self: center;
  border-color: var(--dl-color-grays-dark100);
  border-width: 1px;
  margin-right: 20px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-grays-white100);
}
.search-user-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.search-user-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.search-user-dropdown-arrow {
  transition: 0.3s;
}
.search-user-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.search-user-container2 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-user-dropdown-list {
  top: 51px;
  right: 0px;
  width: max-content;
  margin: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #000000;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.search-user-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-user-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-user-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-user-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-user-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-user-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-user-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-user-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-user-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-user-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-user-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-user-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-user-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-user-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-user-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-user-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-user-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-user-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-user-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-user-text7 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.search-user-textinput {
  width: 350px;
  height: 50px;
  border-radius: var(--dl-radius-radius-radius8);
}
.search-user-button {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: flex-start;
  font-weight: 900;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #88d498;
}
.search-user-button:hover {
  background-color: green;
}
.search-user-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}


.added-user-container {
  width: 600px;
  height: 84px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.added-user-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.added-user-region-container {
  flex: 0 0 auto;
  width: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.added-user-username-container {
  flex: 0 0 auto;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.added-user-container2 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #f70000;
}
.added-user-container2:hover {
  background: #a00303;
}
.added-user-icon {
  width: 44px;
  height: 62px;
}






.search-button-container {
  width: 212px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.search-button-container1 {
  width: 200px;
  height: 50px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #88d498;
}
.search-button-container1:hover {
  background: green;
}
.search-button-icon {
  width: 34px;
  height: 39px;
}
.search-button-container2 {
  width: 161px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-button-text {
  font-style: normal;
  font-weight: 600;
}


.landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-background);
}
.landing-page-icon-and-title {
  width: 100%;
  height: 318px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-user-search-container {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.landing-page-added-players-container {
  width: 100%;
  height: 457px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.landing-page-search-button-footer {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
