<div>
  <link href="./banner.css" rel="stylesheet" />
  <div id="profile_banner" class="banner-container">
    <div id="banner_x_button" class="banner-container1 button">
      <span id="banner_x_text"><span>X</span></span>
    </div>
    <div id="banner_iconname_container" class="banner-container2">
      <div id="banner_picture_container" class="banner-picture">
        <img
          id="banner_profile_icon"
          alt="image"
          src="image"
          class="banner-image"
        />
      </div>
      <div id="banner_username_container" class="banner-username">
        <span id="banner_username_text" class="banner-text1">
          <span>Username</span>
        </span>
      </div>
    </div>
  </div>
</div>
