<div>
  <link href="./most-played-champs.css" rel="stylesheet" />
  <div class="most-played-champs-container">
    <div id="champs_title_container" class="most-played-champs-title">
      <span id="mostplayedChamps_text"><span>Most Played Champions</span></span>
    </div>
    <div id="champs_1_container" class="most-played-champs-container01">
      <div
        id="champ1_WRandgames_container"
        class="most-played-champs-container02"
      >
        <div id="champ1_WR_container" class="most-played-champs-container03">
          <span id="champ1_WR_text" class="most-played-champs-text01">
            <span>_ %</span>
          </span>
        </div>
        <div
          id="champ1_totalgames_container"
          class="most-played-champs-container04"
        >
          <span id="champ1_totalgames_text" class="most-played-champs-text02">
            <span>_ played</span>
          </span>
        </div>
      </div>
      <div
        id="champ1_champIconandName_container"
        class="most-played-champs-container05"
      >
        <div id="champ1_icon" class="most-played-champs-container06"></div>
        <div
          id="champ1_charactername_container"
          class="most-played-champs-container07"
        >
          <span
            id="champ1_charactername_text"
            class="most-played-champs-text03"
          >
            <span>champ_name</span>
          </span>
        </div>
      </div>
      <div
        id="champ1_KDAstats_container"
        class="most-played-champs-container08"
      >
        <div id="champ1_KDA_container" class="most-played-champs-container09">
          <span id="champ1_KDA_text" class="most-played-champs-text04">
            <span>_ KDA</span>
          </span>
        </div>
        <div
          id="champ1_fullKDA_container"
          class="most-played-champs-container10"
        >
          <span id="champ1_fullKDA_text" class="most-played-champs-text05">
            <span>_ / _ / _</span>
          </span>
        </div>
      </div>
    </div>
    <div id="champs_1_container" class="most-played-champs-container11">
      <div
        id="champ2_WRandgames_container"
        class="most-played-champs-container12"
      >
        <div id="champ2_WR_container" class="most-played-champs-container13">
          <span id="champ2_WR_text" class="most-played-champs-text06">
            <span>_ %</span>
          </span>
        </div>
        <div
          id="champ2_totalgames_container"
          class="most-played-champs-container14"
        >
          <span id="champ2_totalgames_text" class="most-played-champs-text07">
            <span>_ played</span>
          </span>
        </div>
      </div>
      <div
        id="champ2_champIconandName_container"
        class="most-played-champs-container15"
      >
        <div id="champ2_icon" class="most-played-champs-container16"></div>
        <div
          id="champ2_charactername_container"
          class="most-played-champs-container17"
        >
          <span
            id="champ2_charactername_text"
            class="most-played-champs-text08"
          >
            <span>champ_name</span>
          </span>
        </div>
      </div>
      <div
        id="champ2_KDAstats_container"
        class="most-played-champs-container18"
      >
        <div id="champ2_KDA_container" class="most-played-champs-container19">
          <span id="champ2_KDA_text" class="most-played-champs-text09">
            <span>_ KDA</span>
          </span>
        </div>
        <div
          id="champ2_fullKDA_container"
          class="most-played-champs-container20"
        >
          <span id="champ2_fullKDA_text" class="most-played-champs-text10">
            <span>_ / _ / _</span>
          </span>
        </div>
      </div>
    </div>
    <div id="champs_3_container" class="most-played-champs-container21">
      <div
        id="champ3_WRandgames_container"
        class="most-played-champs-container22"
      >
        <div id="champ3_WR_container" class="most-played-champs-container23">
          <span id="champ3_WR_text" class="most-played-champs-text11">
            <span>_ %</span>
          </span>
        </div>
        <div
          id="champ3_totalgames_container"
          class="most-played-champs-container24"
        >
          <span id="champ3_totalgames_text" class="most-played-champs-text12">
            <span>_ played</span>
          </span>
        </div>
      </div>
      <div
        id="champ3_champIconandName_container"
        class="most-played-champs-container25"
      >
        <div id="champ3_icon" class="most-played-champs-container26"></div>
        <div
          id="champ3_charactername_container"
          class="most-played-champs-container27"
        >
          <span
            id="champ3_charactername_text"
            class="most-played-champs-text13"
          >
            <span>champ_name</span>
          </span>
        </div>
      </div>
      <div
        id="champ3_KDAstats_container"
        class="most-played-champs-container28"
      >
        <div id="champ3_KDA_container" class="most-played-champs-container29">
          <span id="champ3_KDA_text" class="most-played-champs-text14">
            <span>_ KDA</span>
          </span>
        </div>
        <div
          id="champ3_fullKDA_container"
          class="most-played-champs-container30"
        >
          <span id="champ3_fullKDA_text" class="most-played-champs-text15">
            <span>_ / _ / _</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
