<div>
  <link href="./profile.css" rel="stylesheet" />
  <div class="profile-container">
    <div id="profile_banner_container" class="profile-banner">
      <div id="profile_banner" class="banner-container banner-root-class-name">
        <div id="banner_x_button" class="banner-container1 button">
          <span id="banner_x_text"><span>X</span></span>
        </div>
        <div id="banner_iconname_container" class="banner-container2">
          <div id="banner_picture_container" class="banner-picture">
            <img
              id="banner_profile_icon"
              alt="image"
              src="image"
              class="banner-image"
            />
          </div>
          <div id="banner_username_container" class="banner-username">
            <span id="banner_username_text" class="banner-text1">
              <span>Username</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="profile_tags_container" class="profile-tags">
      <div
        id="profile_taglist"
        class="taglist-container taglist-root-class-name"
      >
        <div id="taglist_tag1_container" class="taglist-tag1">
          <span id="taglist_tag1_text" class="taglist-tag1text">
            <span>tag</span>
          </span>
        </div>
        <div id="taglist_tag2_container" class="taglist-tag2">
          <span id="taglist_tag2_text" class="taglist-tag2text">
            <span>tag</span>
          </span>
        </div>
        <div id="taglist_tag3_container" class="taglist-tag3">
          <span id="taglist_tag3_text" class="taglist-tag3text">
            <span>tag</span>
          </span>
        </div>
      </div>
    </div>
    <div id="profile_ranks_container" class="profile-ranks">
      <div class="rank-carousel-container rank-carousel-root-class-name">
        <div id="rank_left_button" class="rank-carousel-left-button button">
          <span id="rank_left_button_text"><span><</span></span>
        </div>
        <div class="rank-carousel-ranked-contents"></div>
        <div id="rank_right_button" class="rank-carousel-left-button1 button">
          <span id="rank_right_button_text"><span>></span></span>
        </div>
      </div>
    </div>
    <div id="profile_role_container" class="profile-container1">
      <div
        id="profile_rolelist"
        class="role-list-container role-list-root-class-name"
      >
        <img
          id="top_icon"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="role-list-image"
        />
        <img
          id="jg_icon"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="role-list-image1"
        />
        <img
          id="mid_icon"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="role-list-image2"
        />
        <img
          id="adc_icon"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="role-list-image3"
        />
        <img
          id="sup_icon"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="role-list-image4"
        />
      </div>
    </div>
    <div id="profile_champions_container" class="profile-container2">
      <div
        class="most-played-champs-container most-played-champs-root-class-name"
      >
        <div id="champs_title_container" class="most-played-champs-title">
          <span id="mostplayedChamps_text">
            <span>Most Played Champions</span>
          </span>
        </div>
        <div id="champs_1_container" class="most-played-champs-container01">
          <div
            id="champ1_WRandgames_container"
            class="most-played-champs-container02"
          >
            <div
              id="champ1_WR_container"
              class="most-played-champs-container03"
            >
              <span id="champ1_WR_text" class="most-played-champs-text01">
                <span>_ %</span>
              </span>
            </div>
            <div
              id="champ1_totalgames_container"
              class="most-played-champs-container04"
            >
              <span
                id="champ1_totalgames_text"
                class="most-played-champs-text02"
              >
                <span>_ played</span>
              </span>
            </div>
          </div>
          <div
            id="champ1_champIconandName_container"
            class="most-played-champs-container05"
          >
            <div id="champ1_icon" class="most-played-champs-container06"></div>
            <div
              id="champ1_charactername_container"
              class="most-played-champs-container07"
            >
              <span
                id="champ1_charactername_text"
                class="most-played-champs-text03"
              >
                <span>champ_name</span>
              </span>
            </div>
          </div>
          <div
            id="champ1_KDAstats_container"
            class="most-played-champs-container08"
          >
            <div
              id="champ1_KDA_container"
              class="most-played-champs-container09"
            >
              <span id="champ1_KDA_text" class="most-played-champs-text04">
                <span>_ KDA</span>
              </span>
            </div>
            <div
              id="champ1_fullKDA_container"
              class="most-played-champs-container10"
            >
              <span id="champ1_fullKDA_text" class="most-played-champs-text05">
                <span>_ / _ / _</span>
              </span>
            </div>
          </div>
        </div>
        <div id="champs_1_container" class="most-played-champs-container11">
          <div
            id="champ2_WRandgames_container"
            class="most-played-champs-container12"
          >
            <div
              id="champ2_WR_container"
              class="most-played-champs-container13"
            >
              <span id="champ2_WR_text" class="most-played-champs-text06">
                <span>_ %</span>
              </span>
            </div>
            <div
              id="champ2_totalgames_container"
              class="most-played-champs-container14"
            >
              <span
                id="champ2_totalgames_text"
                class="most-played-champs-text07"
              >
                <span>_ played</span>
              </span>
            </div>
          </div>
          <div
            id="champ2_champIconandName_container"
            class="most-played-champs-container15"
          >
            <div id="champ2_icon" class="most-played-champs-container16"></div>
            <div
              id="champ2_charactername_container"
              class="most-played-champs-container17"
            >
              <span
                id="champ2_charactername_text"
                class="most-played-champs-text08"
              >
                <span>champ_name</span>
              </span>
            </div>
          </div>
          <div
            id="champ2_KDAstats_container"
            class="most-played-champs-container18"
          >
            <div
              id="champ2_KDA_container"
              class="most-played-champs-container19"
            >
              <span id="champ2_KDA_text" class="most-played-champs-text09">
                <span>_ KDA</span>
              </span>
            </div>
            <div
              id="champ2_fullKDA_container"
              class="most-played-champs-container20"
            >
              <span id="champ2_fullKDA_text" class="most-played-champs-text10">
                <span>_ / _ / _</span>
              </span>
            </div>
          </div>
        </div>
        <div id="champs_3_container" class="most-played-champs-container21">
          <div
            id="champ3_WRandgames_container"
            class="most-played-champs-container22"
          >
            <div
              id="champ3_WR_container"
              class="most-played-champs-container23"
            >
              <span id="champ3_WR_text" class="most-played-champs-text11">
                <span>_ %</span>
              </span>
            </div>
            <div
              id="champ3_totalgames_container"
              class="most-played-champs-container24"
            >
              <span
                id="champ3_totalgames_text"
                class="most-played-champs-text12"
              >
                <span>_ played</span>
              </span>
            </div>
          </div>
          <div
            id="champ3_champIconandName_container"
            class="most-played-champs-container25"
          >
            <div id="champ3_icon" class="most-played-champs-container26"></div>
            <div
              id="champ3_charactername_container"
              class="most-played-champs-container27"
            >
              <span
                id="champ3_charactername_text"
                class="most-played-champs-text13"
              >
                <span>champ_name</span>
              </span>
            </div>
          </div>
          <div
            id="champ3_KDAstats_container"
            class="most-played-champs-container28"
          >
            <div
              id="champ3_KDA_container"
              class="most-played-champs-container29"
            >
              <span id="champ3_KDA_text" class="most-played-champs-text14">
                <span>_ KDA</span>
              </span>
            </div>
            <div
              id="champ3_fullKDA_container"
              class="most-played-champs-container30"
            >
              <span id="champ3_fullKDA_text" class="most-played-champs-text15">
                <span>_ / _ / _</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="profile_recentplayedwith_container" class="profile-container3">
      <div
        class="recenty-played-with-container recenty-played-with-root-class-name"
      >
        <div id="rpw_title_container" class="recenty-played-with-title">
          <span id="rpw_text"><span>Recently Played With:</span></span>
        </div>
        <div class="recenty-played-with-contents">
          <div
            id="rpw_left_button"
            class="recenty-played-with-left-button button"
          >
            <span id="rpw_left_button_text"><span><</span></span>
          </div>
          <div id="rpw_users_container" class="recenty-played-with-container01">
            <div
              id="rpw_user1_container"
              class="recenty-played-with-container02"
            >
              <div
                id="rpw_user1_name_container"
                class="recenty-played-with-container03"
              >
                <span id="rpw_user1_name_text"><span>Tyv</span></span>
              </div>
              <div
                id="rpw_user1_wr_container"
                class="recenty-played-with-container04"
              >
                <span id="rpw_user1_wr_text" class="recenty-played-with-text3">
                  <span>_ %</span>
                </span>
              </div>
              <div
                id="rpw_user1_numgames_container"
                class="recenty-played-with-container05"
              >
                <span
                  id="rpw_user1_numgames_text"
                  class="recenty-played-with-text4"
                >
                  <span>_ games</span>
                </span>
              </div>
            </div>
            <div
              id="rpw_user2_container"
              class="recenty-played-with-container06"
            >
              <div
                id="rpw_user2_name_container"
                class="recenty-played-with-container07"
              >
                <span id="rpw_user2_name_text"><span>Tyv</span></span>
              </div>
              <div
                id="rpw_user2_wr_container"
                class="recenty-played-with-container08"
              >
                <span id="rpw_user2_wr_text" class="recenty-played-with-text6">
                  <span>_ %</span>
                </span>
              </div>
              <div
                id="rpw_user2_numgames_container"
                class="recenty-played-with-container09"
              >
                <span
                  id="rpw_user2_numgames_text"
                  class="recenty-played-with-text7"
                >
                  <span>_ games</span>
                </span>
              </div>
            </div>
          </div>
          <div
            id="rpw_right_button"
            class="recenty-played-with-left-button1 button"
          >
            <span id="rpw_right_button_text"><span>></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
