<div>
  <link href="./recenty-played-with.css" rel="stylesheet" />
  <div class="recenty-played-with-container">
    <div id="rpw_title_container" class="recenty-played-with-title">
      <span id="rpw_text"><span>Recently Played With:</span></span>
    </div>
    <div class="recenty-played-with-contents">
      <div id="rpw_left_button" class="recenty-played-with-left-button button">
        <span id="rpw_left_button_text"><span><</span></span>
      </div>
      <div id="rpw_users_container" class="recenty-played-with-container01">
        <div id="rpw_user1_container" class="recenty-played-with-container02">
          <div
            id="rpw_user1_name_container"
            class="recenty-played-with-container03"
          >
            <span id="rpw_user1_name_text"><span>Tyv</span></span>
          </div>
          <div
            id="rpw_user1_wr_container"
            class="recenty-played-with-container04"
          >
            <span id="rpw_user1_wr_text" class="recenty-played-with-text3">
              <span>_ %</span>
            </span>
          </div>
          <div
            id="rpw_user1_numgames_container"
            class="recenty-played-with-container05"
          >
            <span
              id="rpw_user1_numgames_text"
              class="recenty-played-with-text4"
            >
              <span>_ games</span>
            </span>
          </div>
        </div>
        <div id="rpw_user2_container" class="recenty-played-with-container06">
          <div
            id="rpw_user2_name_container"
            class="recenty-played-with-container07"
          >
            <span id="rpw_user2_name_text"><span>Tyv</span></span>
          </div>
          <div
            id="rpw_user2_wr_container"
            class="recenty-played-with-container08"
          >
            <span id="rpw_user2_wr_text" class="recenty-played-with-text6">
              <span>_ %</span>
            </span>
          </div>
          <div
            id="rpw_user2_numgames_container"
            class="recenty-played-with-container09"
          >
            <span
              id="rpw_user2_numgames_text"
              class="recenty-played-with-text7"
            >
              <span>_ games</span>
            </span>
          </div>
        </div>
      </div>
      <div
        id="rpw_right_button"
        class="recenty-played-with-left-button1 button"
      >
        <span id="rpw_right_button_text"><span>></span></span>
      </div>
    </div>
  </div>
</div>
