/* css for autocomplete */
.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 71%;
    left: 23%;
    right: 0;
    width: 58%;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 4px;
}
.autocomplete-items div:hover {
    background-color: #e6e6e6;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}